<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/frameworksizespace.css">
    <link rel="stylesheet" href="css/style.css">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <div id="root">

        <div class="app-container w-100 vh-100 d-flex justify-content-center align-items-center">

            <!-- Slider -->
            <div class="slider w_70 h-50 d-flex">
                <!-- Big Image container -->
                <div class="big-images-container w_70 h-100">
                    <!-- Single image container -->
                    <div class="single-image position-relative w-100 h-100">
                        <img :src="sliderObjects[activeObject].image" :alt="sliderObjects[activeObject].alt">

                        <div class="single-image-text position-absolute w_90 text-end text-white">
                            <h3>{{sliderObjects[activeObject].title}}</h3>
                            <p>{{sliderObjects[activeObject].text}}</p>
                        </div>
                    </div>
                </div>

                <!-- Thumbs -->
                <div class="thumbs position-relative w_30 h-100">
                    <!-- Arrow up -->
                    <div @click="decreaseIndex" class="arrow up">
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <!-- End Arrow up -->

                    <!-- Arrow down -->
                    <div @click="increaseIndex" class="arrow down">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <!-- End Arrow down -->

                    <!-- Aggiunto un div in più per poter usare v-if senza mischiarlo con v-for, e per far si che l'azione venga eseguita solo se l'array non è vuoto -->
                    <div v-if="sliderObjects.length > 0" class="w-100 h_20">
                        <div v-for="(element,index) in sliderObjects" class="single-thumb w-100 h-100" :class="{'active': index === activeObject}">
                            <img :src="element.image" :alt="element.alt">
                        </div>
                    </div>
                </div>

            </div>

        </div>
        
    </div>

    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>