<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar System</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/frameworksizespace.css">
    <link rel="stylesheet" href="css/style.css">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="root">

        <div class="app_container blue_sky_bg">
            <!-- HEADER -->
            <header class="w-100 h_150p d-flex justify-content-center align-items-center">

                <h1 class="header_title text-white text-center text-uppercase fw-bold">the s<img src="img/sole.png" alt="immagine del sole" class="sun_img w_50p position-relative">lar system</h1>

            </header>


            <!-- MAIN -->
            <main class="w-100 d-flex flex-column justify-content-center align-items-center flex-md-row position-relative">

                <!-- Sezione Change Theme -->
                <!-- Il container viene creato solo se nell'array di backgrounds e testo bottoni è presente almeno un elemento, altrimenti metterei dei bottoni vuoti -->
                <div v-if="changeThemeBtnBg.length > 0 && changeThemeBtnText.length > 0" class="change_theme_wrapper d-flex flex-column justify-content-around justify-content-md-between align-items-center position-absolute">
                    <h4 class="change_theme_title text-white text-center text-uppercase mb-0 fw-bolder">change theme</h4>
                    <div class="change_theme_colors_wrapper w_80 h-50 d-flex justify-content-center align-items-center'">
                        <div class="container-fluid h-100">
                            <div class="row row-cols-3 h-100">
                                <!-- Ciclo v-for (nell'array di sfondi) per creare 3 col con contenuto diverso    -->
                                <div v-for="(element,index) in changeThemeBtnBg" class="col">
                                    <div class="change_theme_btn_wrapper w-100 h-100 d-flex justify-content-center align-items-center">
                                        <!-- L'array che sto percorrendo è quello degli sfondi, quindi uso element come classe dinamica
                                        L'array col testo corrispondente al colore ha uguale lunghezza, quindi seleziono l'elemento di quell'array 
                                        con lo stesso index di quello dei backgrounds, dato che hanno uguale lunghezza e lo stesso ordine blu - viola - verde -->
                                        <button class="btn border border-1 border-white w-100 h-100 p-0 text-white fw-bolder text-uppercase text-center" :class="element">{{changeThemeBtnText[index]}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sezione Planet Infos -->
                <div class="planet_infos_wrapper d-flex justify-content-between align-items-center text-white text-center">
                    <i class="left_info_scroll_down text-white fs-2 fw-bold fas fa-angle-double-down"></i>
                    <!-- Le info corrisponderanno a quelle del pianeta attivo in base ad activeObject da Vue -->
                    <div class="planet_infos_text_wrapper h-100 d-flex justify-content-center text-center text-white fw-bolder">
                        <p class="planet_infos">{{solarSystem[activeObject].info}}</p>
                    </div>
                    <i class="right_info_scroll_down text-white fs-2 fw-bold fas fa-angle-double-down"></i>
                </div>

                <!-- Sezione Planet Title -->
                <div class="planet_title_wrapper w-25 h_10 d-flex justify-content-center align-items-center position-absolute fs-1 text-white fw-bolder">
                    <!-- Il titolo corrisponderà a quello del pianeta attivo in base ad activeObject da Vue -->
                    <h2 class="planet_title">{{solarSystem[activeObject].name}}</h2>
                </div>

                <!-- Sezione Planet Image -->
                <div class="big_img_wrapper d-flex justify-content-center align-items-center">
                    <!-- L'immagine(tramite src) corrisponderà a quella del pianeta attivo in base ad activeObject da Vue
                         l'alt corrisponderà al nome del pianeta attivo, anche la classe dinamica ma la classe in minuscolo -->
                    <img class="big_img" :class="solarSystem[activeObject].name.toLowerCase()" :src="solarSystem[activeObject].image" :alt="solarSystem[activeObject].name">
                </div>

                <!-- Sezione Arrows Slider -->
                <div class="slider_arrows_wrapper h_10 d-flex justify-content-between align-items-center position-absolute">
                    <i class="fs-1 text-white fw-bolder fas fa-arrow-circle-left"></i>
                    <h4 class="fs-4 text-white fw-bolder text-uppercase mb-0 text-center">see more</h4>
                    <i class="fs-1 text-white fw-bolder fas fa-arrow-circle-right"></i>
                </div>

                <!-- Sezione Planet Thumbs -->
                <div class="planet_thumbs_wrapper h_10 position-absolute">
                    <div class="container-fluid h-100">
                        <div class="row row-cols-8 h-100">
                            <!-- Ciclo nell'array del solar system per prendere la src di ogni immagine -->
                            <div v-for="(element,index) in solarSystem" class="col">
                                <div class="single_thumb_wrapper w-100 h-100 d-flex justify-content-center align-items-center">
                                    <!-- Assegno src dell'immagine attuale, alt e classe dinamica corrispondenti al nome del pianeta attuale, ma la classe la trasformo in minuscolo -->
                                    <img class="thumb_img position-relative" :class="element.name.toLowerCase()" :src="element.image" :alt="element.name">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sezione Planet Keys -->
                <!-- Ho dovuto separare le 2 ul perché una è di keys, una di elementi array, e veniva impossibile coordinarli senza un contatore -->
                <div class="planet_keys_wrapper d-flex justify-content-center align-items-center">
                    <!-- Prima ul: stampa in pagina i nomi delle keys fixati per evitare il camel case -->
                    <ul class="ps-0 mb-0 text-center text-white fw-bold">
                        <li class="text-end" v-for="(element,index) in keysFixedNames">{{element}}:</li>
                    </ul>
                    <!-- Seconda ul: stampa in pagina i valori delle keys coordinati con l'altra ul -->
                    <ul class="ps-0 mb-0 text-white fw-bold">
                        <li v-for="(value,key) in solarSystem[activeObject].keysToShow">{{value}}</li>
                    </ul>
                </div>

            </main>


            <!-- FOOTER -->
            <footer class="w-100 h_100p d-flex justify-content-center align-items-center">

                <div class="social_wrapper h-50">
                    <div class="container-fluid h-100">
                        <div class="row row-cols-4 h-100">
                            <!-- Uso il numberOfIcons per imporre un limite al ciclo (corrisponde a 4) -->
                            <div v-for="(element,index) in numberOfIcons" class="col">
                                <div class="social_sub_wrapper w-100 h-100 d-flex justify-content-center align-items-center">
                                    <a href="#">
                                        <!-- Stampa la classe corrispondente al logo (incastrata con l'index del ciclo con 4 iterazioni) -->
                                        <i class="fab text-white fs-3" :class="iconsClasses[index]"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </footer>
        </div>

    </div>

    
    
    <script type="text/javascript" src="js/check-functions.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>