<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar System</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/frameworksizespace.css">
    <link rel="stylesheet" href="css/style.css">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="root">

        <div class="app_container blue_sky_bg">
            <!-- HEADER -->
            <header class="w-100 h_150p d-flex justify-content-center align-items-center">

                <h1 class="header_title text-white text-center text-uppercase fw-bold">the s<img src="img/sole.png" alt="immagine del sole" class="sun_img w_50p position-relative">lar system</h1>

            </header>


            <!-- MAIN -->
            <main class="w-100 d-flex flex-column justify-content-center align-items-center flex-md-row position-relative">

                <!-- Il container viene creato solo se nell'array di backgrounds e testo bottoni è presente almeno un elemento, altrimenti metterei dei bottoni vuoti -->
                <div v-if="changeThemeBtnBg.length > 0 && changeThemeBtnText.length > 0" class="change_theme_wrapper d-flex flex-column justify-content-around justify-content-md-between align-items-center position-absolute">
                    <h4 class="change_theme_title text-white text-center text-uppercase mb-0 fw-bolder">change theme</h4>
                    <div class="change_theme_colors_wrapper w_80 h-50 d-flex justify-content-center align-items-center'">
                        <div class="container-fluid h-100">
                            <div class="row row-cols-3 h-100">
                                <!-- Ciclo v-for (nell'array di sfondi) per creare 3 col con contenuto diverso    -->
                                <div v-for="(element,index) in changeThemeBtnBg" class="col">
                                    <div class="change_theme_btn_wrapper w-100 h-100 d-flex justify-content-center align-items-center">
                                        <!-- L'array che sto percorrendo è quello degli sfondi, quindi uso element come classe dinamica
                                        L'array col testo corrispondente al colore ha uguale lunghezza, quindi seleziono l'elemento di quell'array 
                                        con lo stesso index di quello dei backgrounds, dato che hanno uguale lunghezza -->
                                        <button class="btn border border-1 border-white w-100 h-100 p-0 text-white fw-bolder text-uppercase text-center" :class="element">{{changeThemeBtnText[index]}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>


            <!-- FOOTER -->
            <footer class="w-100 h_100p d-flex justify-content-center align-items-center">

            </footer>
        </div>

    </div>

    
    
    <script type="text/javascript" src="js/check-functions.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>