/* COMMON */
[class*="sky_bg"]{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.blue_sky_bg{
    background-image: url(../img/blue.jpg);
}
.purple_sky_bg{
    background-image: url(../img/purple.jpg);
}
.green_sky_bg{
    background-image: url(../img/green.jpg);
}
ul{
    list-style-type: none;
}
.btn:focus{
    box-shadow: none;
}
.row-cols-8 > .col{
    flex: 0 0 auto;
    width: calc(100% / 8);
}

/* HEADER */
.sun_img{
    bottom: .2rem;
    width: 25px;
}
.header_title{
    font-size: 30px;
}

/* MAIN */
main{
    height: calc(100vh - 250px);
    gap: 5%;
}
.change_theme_wrapper{
    top: 0;
    left: 4.1%;
    width: 45%;
    height: 7.5%;
}
.change_theme_title{
    font-size: .75rem;
}
.change_theme_colors_wrapper .btn{
    font-size: 7.5px;
}
.planet_thumbs_wrapper{
    top: 0;
    right: 4.1%;
    width: 45%;
}
.planet_title_wrapper{
    top: 10%;
}
.slider_arrows_wrapper{
    bottom: 5%;
    width: 50%;
}
[class*="fa-arrow-circle-"]{
    cursor: pointer;
}
.planet_infos_wrapper{
    width: 50%;
    height: 10%;
}
.planet_infos_text_wrapper{
    width: 75%;
    overflow: auto;
}
.planet_infos_wrapper span{
    line-height: 2rem;
}
.big_img_wrapper{
    width: 50%;
    height: 20%;
}
.big_img{
    width: 75%;
}

.big_img.saturn{
    width: 100%;
}
.thumb_img{
    width: 20px;
}
.thumb_img.active{
    animation: active_thumb 1s linear infinite;
}
.single_thumb_wrapper{
    cursor: pointer;
}
.single_thumb_wrapper.saturn img{
    width: 30px;
}
.planet_keys_wrapper{
    width: 50%;
    height: 20%;
    gap: .5rem;
}
.list_key_item{
    display: none;
}
.list_key_item.active{
    display: list-item;
    animation: active_big_img_and_text .25s linear 1;
}
.main_planet_title{
    display: none;
    font-size: 1.5rem;
}
.main_planet_title.active{
    display: block;
    animation: active_big_img_and_text .25s linear 1;
}

.info_text{
    display: none;
}
.info_text.active{
    display: inline;
    animation: active_big_img_and_text .25s linear 1;
}
/* FOOTER */
.social_wrapper{
    width: 50%;
}

/* ANIMAZIONI */
@keyframes active_thumb{
    0%{
        bottom: 3rem;
    }
    25%{
        bottom: 3.5rem;
    }
    50%{
        bottom: 3rem;
    }
    75%{
        bottom: 3.5rem;
    }
    100%{
        bottom: 3rem;
    }
}

@keyframes active_big_img_and_text{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* HOVER */

/* MEDIA */
@media screen and (min-width: 576px){
    main{
        gap: 7.5%;
    }
    .thumb_img{
        width: 25px;
    }
    .single_thumb_wrapper.saturn img{
        width: 35px;
    }
    .sun_img{
        width: 30px;
    }
    .header_title{
        font-size: 35px;
    }
}

@media screen and (min-width: 768px){
    main{
        gap: 0;
    }
    .planet_infos_text_wrapper{
        width: 70%;
        overflow: auto;
    }
    .planet_infos_wrapper,
    .planet_keys_wrapper{
        width: 20%;
        height: 25%;
    }
    .big_img_wrapper{
        width: 50%;
        height: 25%;
    }
    .planet_title_wrapper{
        top: 17.5%;
    }
    .change_theme_wrapper,
    .planet_thumbs_wrapper{
        width: 40%;
        top: 5%;
    }
    .change_theme_wrapper{
        height: 10%;
    }
    .main_planet_title{
        font-size: calc(1.675rem + 1.5vw);
    }
    .change_theme_title{
        font-size: calc(1.275rem + .3vw);
    }
    .thumb_img{
        width: 30px;
    }
    .single_thumb_wrapper.saturn img{
        width: 40px;
    }
    .change_theme_colors_wrapper .btn{
        font-size: 10px;
    }
    .header_title{
        font-size: 40px;
    }
    .sun_img{
        bottom: .3rem;
        width: 40px;
    }
    .slider_arrows_wrapper{
        bottom: 10%;
    }
    .social_wrapper,
    .slider_arrows_wrapper{
        max-width: 384px;
    }
}

@media screen and (min-width: 992px){
    .change_theme_wrapper,
    .planet_thumbs_wrapper{
        top: 10%;
        width: 35%;
    }
    .planet_title_wrapper{
        top: 10%;
    }
    .thumb_img{
        width: 35px;
    }
    .single_thumb_wrapper.saturn img{
        width: 45px;
    }
    .header_title{
        font-size: 50px;
    }
    .sun_img{
        width: 50px;
    }
}

@media screen and (min-width: 1200px){
    .thumb_img{
        width: 40px;
    }
    .single_thumb_wrapper.saturn img{
        width: 60px;
    }
    .big_img{
        max-width: 450px;
        max-height: 450px;
    }
    .big_img.saturn{
        max-width: 600px;
        max-height: 262px;
    }
}